/* src/styles/components/navbar.css */
.navbar {
    background-color: var(--dark);
    color: var(--white);
    padding: var(--space-md);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 68px;
  }
  
  .logo {
    font-size: var(--font-size-lg);
    font-weight: bold;
  }
  
  .logo a:hover {
    opacity: 0.9;
  }
  
  .nav-links {
    display: flex;
    gap: var(--space-lg);
  }
  
  .nav-links a {
    padding: var(--space-sm) 0;
    position: relative;
  }
  
  .nav-links a:hover {
    opacity: 0.8;
  }
  
  .nav-links a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--white);
    transition: width 0.3s ease;
  }
  
  .nav-links a:hover::after {
    width: 100%;
  }
  
  .user-actions {
    display: flex;
    align-items: center;
    gap: var(--space-md);
  }
  
  .user-actions span {
    font-size: var(--font-size-sm);
  }

  .navbar-img {
    height: 40px;
    width: auto;
    object-fit: contain;
    margin-right: 10px;
  }
  

  .btn {
    display: inline-block;
    padding: var(--space-sm) var(--space-md);
    border: none;
    border-radius: 4px;
    font-size: var(--font-size-sm);
    font-weight: 500;
    transition: all 0.2s ease;
    padding-right: 90px;
}